body {
    color: #333;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    background-color: pink;
    color: #fff;
}

h1:hover {
    background-color: green;
}

h2 {
    color: blue;
}

h5 {
    text-align: right;
}

h6 {
    text-decoration: underline;
}

.images h2 {
    text-transform: uppercase;
}
.title-red {
    color: red;
}

.links h3,
h5 {
    color: purple;
}

h4,
ul {
    color: orange;
}

ol {
    color: green;
}

.text-bold {
    font-weight: bold;
}

.text-italic {
    font-style: italic;
}

.font-30 {
    font-size: 30px;
}
