body {
    /* Couleur du texte */
    color: #333;

    /* Police de caractère */
    font-family: Arial, Helvetica, sans-serif;

    /* Taille de la police */
    font-size: 18px;

    /* Epaisseur de la police */
    font-weight: normal;
    /* lighter | normal | bold */

    /* Style de la police */
    font-style: normal;
    /* oblique | normal |italic */

    /* Alignement du texte */
    text-align: center;
    /* center | left | right | justify */
}

.definition {
    /* Majuscule, miniscule... */
    text-transform: capitalize;
    /* uppercase | lowercase | capitalize */
}

.list-definition {
    /* Supprimer les puces */
    list-style: none;
    text-align: left;
}

a {
    /* Style sur le texte (souligné, barré..) */
    text-decoration: none;
    /* underline */

    color: pink;
}

/* La pseudo class :hover signifie au survole */
a:hover {
    color: rgb(186, 110, 123);
}

/* La pseudo class :visited signifie une fois que le lien a été cliqué une première fois */
a:visited {
    color: rgb(128, 0, 124);
}
