<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Document</title>
        <link rel="stylesheet" href="../css/block-practice.css" />
    </head>
    <body>
        <div>
            <h1 class="title">Exercice block</h1>
            <div class="about-us">
                <h2>qui sommes-nous ?</h2>
                <p>
                    Fondé en 1992, DORANCO est <strong>École</strong> (Établissement d'enseignement Technique Privé) et <strong>Organisme de Formation</strong> dont le siège social
                    est situé dans le 20ème arrondissement de Paris.
                </p>
                <p>
                    DORANCO forme depuis de nombreuses années des professionnels en reconversion ou des étudiants aux
                    <strong>métiers de l'informatique, du Web, du Digital et de la Tech.</strong>
                    <br />
                    Notre <a href="" class="link-about-us">pédagogie innovante et inclusive</a> nous permet de proposer des formations en présentiel ou mix-learning (moitié
                    présentiel, moitié e-learning) ou 100% à distance en formation continue, conventionnée ou en alternance, ainsi qu'un accompagnement à la VAE.
                </p>
                <p>
                    DORANCO est certifié QUALIOPI et est signataire de la charte RSE des Acteurs de la Compétences. En 2021, Doranco rejoint le groupe Eureka Education,
                    <br />
                    acteur majeur de l’Enseignement Professionnel et Supérieur en France et ouvre de nouveaux campus dans des grandes villes en France.
                </p>
            </div>
        </div>
    </body>
</html>
