/* * signifie que cela s'applique à tous les selecteurs */
/* on reset les valeurs par défaut du navigateur */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* On cible body faire hériter en cascade certaines propriétés générales pour toute la page */
body {
    font-size: 18px;
}

h1 {
    width: 80%;
    height: 200px;
    margin: 50px auto;
    padding: 30px;
    border-radius: 10px;
    background-color: rgb(59, 119, 231);
    border: 5px solid #333;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
}

.container {
    background-color: rgb(97, 162, 81);
    color: #fff;
    /* Hauteur */
    /* Par défaut la valeur est sur auto { height: auto; } */
    /* height:300px; */
    min-height: 200px;

    /* Largeur */
    /* Par défaut la valeur est sur 100% { width: 100%; } */
    width: 80%;
    min-width: 380px;
    max-width: 1080px;

    /* Margin sert à mettre de la marge exterieur, il y a plein de raccourcis */
    /* margin-top: 100px;
    margin-right: 100px;
    margin-bottom: 100px;
    margin-left: 100px; */
    /* margin: 100px 20px 50px 70px; */
    margin: 50px auto;

    /* Padding sert à mettre de la marge intérieur, il y a plein de raccourcis */
    /* padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px; */
    padding: 20px;

    /* La propriété raccourci { border: 1px solid black; } permet de preciser la taille, le style et la couleur de la bordure */
    /* border: 2px solid rgb(0, 0, 0); */

    /* { border-radius: } permet d'arrondir les angles */
    border-radius: 10px;

    /* { box-shadow: }  permet de créer une ombre */
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}

.circle {
    width: 200px;
    height: 200px;
    /* Pour envoyer l'élément tout à droite, on met toute la marge disponible à gauche */
    margin-left: auto;
    border-radius: 50%;
    background-color: #eb5858;
    box-shadow: 4px 4px 16px rgba(0, 0, 0, 0.5);
}
