<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Paris - A propos</title>
        <link rel="stylesheet" href="../css/style.css">
    </head>
    <body>
        <header>
            <a href="../index.html" class="logo">Paris</a>
            <nav>
                <a href="../index.html">accueil</a>
                <a href="contact.html">contact</a>
                <a href="about-us.html">à propos</a>
            </nav>
        </header>
        <main>
            <section>
                <h1>A propos</h1>
            </section>
        </main>
    </body>
</html>
