<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>CSS- Selecteurs exercice</title>
        <link rel="stylesheet" href="../css/selector-practice.css" />
    </head>
    <body>
        <div>
            <h1>Titre super important</h1>
            <h2>Titre important</h2>
            <h3>Titre moins important</h3>
            <h4>Titre pas trop important</h4>
            <h5>Titre pas important</h5>
            <h6>Titre vraiment pas important</h6>
        </div>

        <hr />

        <div>
            <h2>Les images</h2>
            <img src="error" alt="je suis bart simpsons" />
        </div>

        <hr />

        <div class="links">
            <h2 class="title-red">Les liens</h2>
            <h3 class="title-purple">mes films préférés</h3>
            <ol>
                <li>ben hur</li>
                <li>monstre & co</li>
                <li>taxi driver</li>
            </ol>
            <h3 class="title-purple">mes sport préférés</h3>
            <ul>
                <li>boxe</li>
                <li>escalade</li>
                <li>natation</li>
            </ul>
        </div>
    </body>
</html>
